# Object files
*.o
*.ko
*.oo
*.pyc

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# gcov
*.gcda
*.gcno

callgrind.out.*

oldcode/tests/connect_speed

*.swp



# SQLITE files
*.db
*.db-shm
*.db-wal


#pidfile and errorlog
*.pid
*.log
*.err

#binary
proxysql

#core
core

#config
proxysql.cnf*
proxysql.db*

jeprof*heap
perf.data*

notes.txt
architecture.txt



### DEPS

#sqlite
deps/sqlite3/sqlite-amalgamation-3080403/

test/.vagrant
.DS_Store
proxysql-tests.ini